<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Who are we?</summary>
          <p>
            <p>Xavier is a mechatronic and energy system engineer, from ESME
            Sudria french school. He administrates the project and technologies
            development.</p>
            <p>Julien has a Master in Commercial Strategy and negociation skills
            from La Sorbonne. His role is to build a commercial
            strategy, develop a protfolio of business customers and get
            partnerships with companies.</p>
            <p>Martin has a Master of Science from Imperial College London and one
            of the top French engineering universities Supélec. He manages
            project strategy and marketing.</p>
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Who will be able to use it?</summary>
          <p>Anyone connected to internet. Unide platform is especially
          designed to be easy to interact with. Indeed, while currently
          command-line based, its protocole relies on universal, simple and
          robust http requests.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>When will it be ready?</summary>
            <p>The Unide MVP will be finished in 2-3 months. The production
            version will take another 2-3 months after that (six months total).</p>

            <p>Throughout the development process, all code will be available
            on Github.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What technologies does Unide rely on?</summary>
          <p>
            <ul>
              <li> Container technology (LXC by docker) for painless virtualization and comfortable cocoons for your future work
              <li> Our DNA project that brings most powerful and popular productivity gadgets to your dev environment
              <li> Juju charms to help you, encapsulate your app and store hundreds of useful and reusable services
              <li> Juju software to manage them like a boss
              <li> Ansible project to shape them, with full (yeah, root) control, still like a boss
              <li> Etcd storage for innovative and dead simple configuration operation
              <li> Hipache for SSL protection, nursering your data, and robust interface to the hostile internet world
              <li> Go language for hyperactive reaction, python for cross-platform and efficient client
              <li> And so much more for testing, covering, collaborating, VM versioning, generic github project building, workflow optimization, ...
            </ul>
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Why $65000?</summary>
          <p>We are willing to give up the money we could make in a big company
          because we believe in Unide and because we believe it can really make
          a difference in your day to day programming experience. However we
          need financial support to keep developing it and preparing the
          release. Paying three persons and servers during 6 months at minimum
          wage (1 430 €) if you include taxes sums up to 47 000 €. That is why
          we need your help!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Why are you funding it this way?</summary>
          <p>Open source software is easiest to fund in advance.</p>

          <p>We have been planning a system like this for a long time. Now that the
          necessary tools exist, we want to get to work. We want to give as much time to
          development as possible, but can't afford to do so without a source of income.</p>

          <p>We believe the future of open source development is loose confederations of
          individuals and organizations working on clearly specified modular projects of
          mutual benefit. Projects like this benefit countless individuals and
          organizations but are often too large and expensive for a single group to take
          on part time.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Open source?</summary>
          <p>100%</p>

          <p>Unide will be open source, Apache 2.0 licensed, and developed in the open on GitHub.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How can you contact us?</summary>
          <p>You can ask any other question by emailing us at team@unide.co</p>
        </details>
      </li>
    </ul>
  </div>
</div>
