<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Who are we?</summary>
          <p>
            <p>Xavier is a mechatronic and energy system engineer, from ESME
            Sudria french school. He administrates the project and technologies
            development.</p>
            <p>Julien has a Master in Commercial Strategy and negociation skills
            from La Sorbonne. His role in the team is to build a commercial
            strategy, develop a protfolio of business customers and get
            partnerships with companies.</p>
            <p>Martin has a Master of Science from Imperial College London and one
            of the top French engineering universities Supélec. He manages
            project strategy and marketing.</p>
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Who will be able to use it?</summary>
          <p>Anyone connected to internet. Unide platform is especially
          designed to be easy to interact with. Indeed, while currently
          command-line based, its protocole relies on universal, simple and
          robust http requests.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What technologies does Unide rely on?</summary>
          <p>
            <ul>
              <li> Container technology (LXC by docker) for painless virtualization and comfortable cocoons for your future work
              <li> Our DNA project that brings most powerful and popular productivity gadgets to your dev environment
              <li> Juju charms to help you, encapsulate your app and store hundreds of useful and reusable services
              <li> Juju software to manage them like a boss
              <li> Ansible project to shape them, with full (yeah, root) control, still like a boss
              <li> Etcd storage for innovative and dead simple configuration operation
              <li> Hipache for SSL protection, nursering your data, and robust interface to the hostile internet world
              <li> Go language for hyperactive reaction, python for cross-platform and efficient client
              <li> And so much more for testing, covering, collaborating, VM versioning, generic github project building, workflow optimization, ...
            </ul>
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How about the security?</summary>
          <p>Any communication with the Unide platform is performed through SSL
          encryption (signed certificates are downloaded under user:password
          authentification). Your private workspace is under ssh protection.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Why $65000?</summary>
          <p>We are willing to give up the money we could make in a big company
          because we believe in Unide and because we believe it can really make
          a difference in your day to day programming experience. However we
          need financial support to keep developing it and preparing the
          release. Paying three persons and servers during 6 months at minimum
          wage (1 430 €) if you include taxes sums up to 47 000 €. That is why
          we need your help!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Why did you release this?</summary>
          <p>Pas mal cette question tiens.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Will we make money with your money?</summary>
          <p>We believe in the power of open-source. We believe in the power of
          crowdsourcing.  Using Unide for Open-source projects is totally free.
          However, if you want your project to be private and secret, you will
          need a premium private account.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How can you contact us?</summary>
          <p>You can ask any other question by emailing us at unide.team@gmail.com</p>
        </details>
      </li>
    </ul>
  </div>
</div>
