<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is Unide?
      </h3>
      <p>
        Unide is an open source development arsenal and a platform optimized
        for technology projects. It was put together by <a
          href="http://hivetech.github.io">HiveTech</a> to allow our team 
        quickly make more efficient complex softwares.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        The tools we're developing are fully open source and ready to be
        integrated in your workspace to boost and ease your work. Also, you
        will be soon able to connect to a coherent development platform hosted
        in the cloud that combine them.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Get involved
      </h3>
      <p>
        Help us to evolve project development by spreading the word around you
        and supporting our <a href="www.indiegogo.com">Funding Campaign</a>.
        If you're interested what's under the hood or want to contribute, you
        can find a true insight of the technologies we're developing on <a
          href="https://github.com/hivetech">Github</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        What's next
      </h3>
      <p>
        Our beta phase will be online around february 2014. Stay tune ! 
      <p>
    </div>
  </div>
</div>
