<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Community driven</h4>
      <p>The common environment available is built on top of most popular
      and powerful tools in the open source community. Unide is designed to
      easily integrate new, smart, ideas that came up from
      brilliant minds every day.</p>
    </li>
    <li id="section-2">
      <h4>Bleeding tech</h4>
      <p>Unide integrates (among others) the neat work done by Ubuntu,
      Dotcloud, Google, Github. It embraces relevant emerging technologies in
      virtualization, cloud deployment, collaboration, ...</p>
    </li>
    <li id="section-3">
      <h4>Customizable</h4>
      <p>Build complex infrastructure easily, with everything under control.
      From each machine image to you fave editor.</p>
    </li>
    <li id="section-4">
      <h4>Save Money</h4>
      <p>Services are lightweight, tools are commited to efficiency. Solve more
      complex probelms with less ressources.</p>
    </li>
  </ul>
</div>
