<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Community driven</h4>
      <p>The common environment available is built on top of most popular
      and powerful tools in the open source community. Unide is designed to
      easily integrate new, smart, ideas that came up from
      brilliant minds every day.</p>
    </li>
    <li id="section-2">
      <h4>Bleeding tech</h4>
      <p>Unide integrates (among others) the neat work done by Ubuntu,
      Dotcloud, Google, Github. It embraces relevant emerging technologies in
      virtualization, cloud deployment, collaboration, ...</p>
    </li>
    <li id="section-3">
      <h4>Secured</h4>
      <p>
        Any communication with the Unide platform is performed through SSL encryption
        (signed certificates are downloaded under user:password authentification). Your
        private workspace uses ssh protocol.
      </p>
    </li>
    <li id="section-4">
      <h4>Save Money</h4>
      <p>Services deployed are lightweight and our tools are commited to
      efficiency. Solve more complex problems with less ressources.</p>
    </li>
  </ul>
</div>
