<div class="big_wrapper" id="mailing-list">
  <div class="wrapper" id="mailing-list">
    <br><br>
    <h4>Mailing List</h4>
    <%= form_tag('/preorder/subscribe', method: "post", id: "preorder", remote: "true") do -%>
      <label>Email Address&nbsp;
       <%= text_field_tag :email, nil, :class => 'email', :type=>"email", :placeholder => 'you@example.com' %>
      </label>
      <%= submit_tag "Subscribe", :class => "blue_button", :id => "subscribe_button" %>
    <% end %>
    <br><br>
  </div>
</div>
