<%#<div id='logos'>%>
  <%#<ul class="wrapper clearfix">%>
    <%#<li id="awesomeblog"><a href=""></a></li>%>
    <%#<li id="coolpaper"><a href=""></a></li>%>
    <%#<li id="nicemag"><a href=""></a></li>%>
    <%#<li id="readcrunch"><a href=""></a></li>%>
  <%#</ul>%>
<%#</div>%>


<%#<div class="gray_background wrapper clearfix" id='mailing-list'>%>
  <%#<div class="wrapper clearfix">%>
<div class="big_wrapper">
  <div class="wrapper" id="mailing-list">
    <%#<form action="http://flynn.us7.list-manage.com/subscribe/post?u=9600741fc187618e1baa39a58&id=a2b322e5ab" method="post" target="_blank" novalidate>%>
    <form action="" method="post" target="_blank" novalidate>
      <h4>Mailing List</h4>
      <label>Email Address&nbsp;
        <input type="text" name="EMAIL" placeholder="coming !">
      </label>
      <input type="submit" class='btn' name="subscribe" value="Subscribe" />
    </form>
  </div>
</div>
