
<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="<%= Settings.github_profile %>">GitHub</a> |
        <a href="mailto:<%= Settings.contact %>">Contact</a> |
        <%#<a href="/blog">Blog</a>%>
        <a href="<%= Settings.blog %>">Blog</a>
      </li>
    </ul>
    <p class="pull-right"><%= Settings.company %></p><br>
    <p class="pull-right"> Selfstarter design by Lockitron. MIT Licensed.</p>
  </div>
</div>
