<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Support</h3>
      <p>
      You can contribute to unide by two means. Join us building Unide on <a
        href=https://github.com/hivetech>Github</a> or sponsor the project
      clicking on the button bellow. Either ways you can subscribe to our
      mailing list at the bottom of the previous page, and we will keep you
      updated.
        <br />
        <br />
        <% if Settings.use_payment_options %>
          Select a payment option and enter your email address below.
        <% else %>
          Mailing list
        <% end %>

      </p>
      <%= form_tag "#", :id => "checkout" do %>
        <article>
          <label class="amount">
            <span>Amount: $50.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Sponsor open innovation"
                data-amount="5000"></script>
      <% end %>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
